{% extends "home/home.html" %}

{% import 'ui/page.html' as page %}
{% block content %}
<div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb" style="margin-top:6px;">
                <li>与"{{ key }}"有关的电影，共{{ movie_count }}部</li>
            </ol>
        </div>
        <div class="col-md-12">
            {% for v in movie.items %}
            <div class="media">
                <div class="media-left">
                    <img class="avatar size-L radius" src="{{ url_for("static",filename='uploads/movie/'+v.logo) }}" style="width:50px;height: 50px;">
                </div>
                <div class="media-body">
                    <h4 class="media-heading">电影名称：{{ v.title }}</h4>
                    <a href="{{ url_for('home.play',id=v.id,page=1) }}" class="label label-primary pull-right btn-sm" style="border-radius: 10px"><span class="glyphicon glyphicon-play" ></span>播放影片</a>
                    简介：{{ v.info }}
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="col-md-12">
            {{ page.pagination_widget(movie,'home.search') }}
        </div>
    </div>
{% endblock %}