aniso8601==8.0.0
Appium-Python-Client==0.26
APScheduler==3.5.1
atomicwrites==1.4.0
attrs==20.1.0
bcrypt==3.2.0
blinker==1.4
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
click==7.1.2
colorama==0.4.3
cryptography==3.1.1
decorator==4.4.2
demjson==2.2.4
docutils==0.16
Flask==1.0
Flask-APScheduler==1.8.0
Flask-Login==0.2.11
Flask-Mail==0.9.0
Flask-RESTful==0.3.6
Flask-Script==2.0.6
Flask-SSLify==0.1.5
idna==2.6
importlib-metadata==1.7.0
iniconfig==1.0.1
itsdangerous==1.1.0
Jinja2==2.8
kitchen==1.2.6
MarkupSafe==1.1.1
more-itertools==8.4.0
packaging==20.4
paramiko==2.7.2
pluggy==0.13.1
py==1.9.0
pycparser==2.20
PyNaCl==1.4.0
pyparsing==2.4.7
pytest==6.0.1
python-dateutil==2.7.3
pytz==2020.1
requests==2.18.4
robot==20071211
robotframework==3.0.3
robotframework-appiumlibrary==1.4.6
robotframework-databaselibrary==1.0.1
robotframework-requests==0.4.7
robotframework-seleniumlibrary==3.1.1
robotframework-sshlibrary==3.1.1
selenium==3.141.0
six==1.15.0
toml==0.10.1
tzlocal==2.1
urllib3==1.22
Werkzeug==0.14.1
zipp==3.1.0
